body {
    background-color: aliceblue;
    font-family: Helvetica, sans-serif, Arial;
    font-size: 20px;
}

.wrapper {
    width: 600px;
    padding: 20px;
    margin: 0 auto;
}

h1 {
    font-size: 40px;
    padding: 20px;
}

p {
    width: 80%;
    padding: 20px;
}

#fixedBox {
    background-color: gray;
    position: fixed;
    text-align: center;
    height: 20%;
    width: 29%;
    margin: 0;
    padding: 0;
    top:0;
    left: 0;
    border: dashed;
    border-width: 2px;
    padding: 20px;
}

#relativeBox {
    position: relative;
    background-color: gray;
    text-align: center;
    height: 65%;
    width: 80%;
    z-index: 1;
    border: dashed;
    border-width: 2px;
    padding: 20px;
}

#absoluteBox {
    position: absolute;
    background-color: rgb(39, 37, 37);
    text-align: center;
    height: 10%;
    width: 16%;
    z-index: 2;
    border: dashed;
    border-width: 2px;
    right: 200px;
    bottom: 250;
    padding: 20px;
}

#relative {
    position: relative;
    height: 200px;
    padding: 20px;
    margin-bottom: 20px;
    text-align: center;
    background: #eee;
  }
  
  #absolute {
    position: absolute;
    right: -30px;
    bottom: 0;
    width: 250px;
    padding: 20px;
    text-align: center;
    background: #999;
  }